// Menu Bar

.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: white;
    overflow-x: hidden; 
    padding-top: 10px;
    border-right: 1px solid #D4AF37;
  }

  .SideLetter {
    font-size: 100px;
    font-family: 'Poiret One';
    color: #0052cc;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-left: 105px;
  }

  .SideLetter a {
    text-decoration: none;
    color: #0052cc;
  }

  .SideLetter a:hover {
    color: #D4AF37;
  }

  .SideLine {
      width: 250px;
      height: 2px;
      background: radial-gradient(	#FFD700 25%, #D4AF37 75% )
  }
  
  .sidenav .NavAnchor {
    padding: 20px 5px 20px 10px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 30px;
    color: #0052cc;
    display: block;
    font-family: 'Poiret One';
    text-align: center;
    font-weight: 600;
    border: solid 1px white;
  }
  
  .sidenav .NavAnchor:hover {
    color: #D4AF37;
    font-weight: 700;
    border: solid 1px #D4AF37;
  }

  .socialmedia {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 30px;
      color: #0052cc;
      padding-top: 50px;
  }

  .socialmedia a:hover {
    border: none;
    color: #D4AF37;
  }

  @media (max-width: 479.98px) {
    .sidenav {
display: none;
    }
  }
  
  @media (min-width: 480px) and (max-width: 767.98px) {
       .sidenav {
           display: none;
       }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .sidenav {
      display: none;
    }
  }
  @media (min-width: 992px) and (max-width: 1241.98px) {
    .sidenav {
      display: none;
    }
  }

    // Body

    body {
      margin: auto;
  }

  
  //Main Section 

  .AboutSection {
    display: flex;
    position: relative;
    margin-left: 250px;
    max-width: 1730px;
    height: 950px; 
    justify-content: center;
  }

  .AboutInner {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 1500px;
    height: 866px;
    background-color: #0052cc;
    margin-top: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 2px solid #D4AF37;
    border-bottom: 2px solid #D4AF37;
    .button {
      display: none;
    }
    .AboutTitle {
      position: absolute;
      color: #D4AF37;
      font-family: 'Sacramento';
      font-size: 65px;
      letter-spacing: 0.4px;
      margin-top: 0;
    }
    h3 {
      font-weight: 700;
      font-size: 30px;
      margin-left: 10px;
      font-family: 'Sacramento';
    }
    .Beginning {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 500px;
      margin-top: 200px;
    .BTXT {
      width: 272px;
      position: absolute;
      text-align: left;
      font-family: 'Poiret One';
      font-weight: 600;
      color: #000066;
      margin-top: 70px;
      font-size: 18px;
      letter-spacing: 0.4px;
      line-height: 20px;
      background-color: white;
      z-index: 5;
      li {
        margin-left: -10px;
      }
    }
   }
    .Middle {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 700px;
      margin-top: 105px;
      .Profile {
        width: 400px;
        height: 450px;
        position: absolute;
        margin-top: 115px;       
        border-radius: 45px;
      }     
    }
    .End {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 500px;
      margin-top: 200px;
    .ETXT {
      width: 330px;
      height: 550px;
      position: absolute;
      text-align: left;
      font-family: 'Poiret One';
      font-weight: 600;
      color: #000066;
      margin-top: 10px;
      font-size: 18px;
      letter-spacing: 0.4px;
      line-height: 25px;
      background-color:white;
      z-index: 5;
      p{
        padding: 25px 10px 10px 10px;
      }
    }
    }
  }

  // Smaller sized devices media queries

  @media (max-width: 479.98px) {
    
      .AboutSection {
        width: 100%;
        padding: none;
        border-left: none;
        margin-left: 0;
      }
      .AboutInner {
        max-width: 100%;
        height: 2000px;
        flex-direction: column;
        margin-top: 0;
        .button {
          display: flex;
          position: absolute;
          justify-content: center;
          width: 60px;
          height: 60px;
          color: #D4AF37;
          border: none;
          border-radius: 3px;
          margin-top: 0px;
          top: 0;
          .fas {
            margin-top: 15px;
          }
        }
        a {
          text-decoration: none;
          width: 60px;
          height: 60px;
        }
        .button:hover {
          border: 2px #D4AF37 solid;
        }
        .AboutTitle {
          margin-bottom: 1700px;
          padding-left: 10px;  
        }
        .Beginning {
          width: 100%;
          margin-top: -300px;
          .BTXT {
            width: 225px;
            font-size: 12px;
            height: 450px;
            h3 {
              margin-left: 65px;
            }
            li {
              margin-left: 0;
            }
          }
        }
        .Middle {
          width: 100%;
          .Profile {
            width: 225px;
            height: 300px;
            margin-top: 50px;
            margin-left: -10px;
          }
        }
        .End {
          width: 100%;
          margin-top: -225px;
          margin-bottom: -300px;
          .ETXT {
            width: 260px;
            font-size: 14px;
            height: 535px;
          }
        }
      }
      .myMenu {
        height: 100%; 
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white; 
        overflow-x: hidden;
        padding-top: 5px;
        transition: 0.5s;
        display: block;
        ul {
            list-style-type: none;
            text-align: left;
            .Smenu {
                width: 333px;
                height: 56px;
                font-size: 25px;
                margin-left: -40px;
                padding-left: 20px;
                padding-top: 20px;
                border-bottom: 1px solid #D4AF37;
        }
      }
      .menuAnchor {
          text-decoration: none;
          font-family: 'Poiret One';
          color: #0052cc;
          font-weight: bold;
      }

      .menuAnchor:hover {
          color: #D4AF37;
      }
      
      .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 30px;
        font-size: 50px;
        text-decoration: none;
      }

      .closebtn:hover {
          color: #D4AF37;
      }
      
      body {
        transition: margin-right .5s;
      }
     }
  }

  @media (min-width: 480px) and (max-width: 767.98px) {
    .AboutSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0;
    }
    .AboutInner {
      max-width: 100%;
      height: 2000px;
      flex-direction: column;
      margin-top: 0;
      .button {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #D4AF37;
        border: none;
        border-radius: 3px;
        margin-top: 0px;
        top: 0;
        .fas {
          margin-top: 15px;
        }
      }
      a {
        text-decoration: none;
        width: 60px;
        height: 60px;
      }
      .button:hover {
        border: 2px #D4AF37 solid;
      }
      .AboutTitle {
        margin-bottom: 1700px;
        padding-left: 10px;  
      }
      .Beginning {
        width: 100%;
        margin-top: -300px;
        .BTXT {
          width: 225px;
          font-size: 12px;
          height: 450px;
          h3 {
            margin-left: 65px;
          }
          li {
            margin-left: 0;
          }
        }
      }
      .Middle {
        width: 100%;
        .Profile {
          width: 225px;
          height: 300px;
          margin-top: 50px;
          margin-left: -10px;
        }
      }
      .End {
        width: 100%;
        margin-top: -225px;
        margin-bottom: -300px;
        .ETXT {
          width: 260px;
          font-size: 14px;
          height: 535px;
        }
      }
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: left;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }

  //Small/Medium devices

  @media (min-width: 768px) and (max-width: 991.98px) {

    .AboutSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0;
    }
    .AboutInner {
      max-width: 100%;
      height: 2500px;
      flex-direction: column;
      margin-top: 0;
      .button {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #D4AF37;
        border: none;
        border-radius: 3px;
        margin-top: 0px;
        top: 0;
        .fas {
          margin-top: 15px;
        }
      }
      a {
        text-decoration: none;
        width: 60px;
        height: 60px;
      }
      .button:hover {
        border: 2px #D4AF37 solid;
      }
      .AboutTitle {
        top: 125px;
        padding-left: 10px;  
      }
      .Beginning {
        width: 100%;
        margin-top: 0px;
      }
      .Middle {
        width: 100%;
        margin-top: 200px;
      }
      .End {
        width: 100%;
        margin-top: 150px;
      }
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: left;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }
  
  // Large-medium/Small-large devices

  @media (min-width: 992px) and (max-width: 1241.98px) {

    .AboutSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0px;
    }
    .AboutInner {
      max-width: 90%;
      height: 2500px;
      flex-direction: column;
      margin-top: 0;
      overflow: hidden;
      .AboutTitle {
        top: 100px;
        padding-left: 50px;  
      }
      .Beginning {
        width: 100%;
        margin-top: 0px;
      }
      .Middle {
        width: 100%;
        margin-top: 200px;
      }
      .End {
        width: 100%;
        margin-top: 150px;
      }
    }
    .AboutInner .button {
      display: flex;
      position: absolute;
      justify-content: center;
      width: 60px;
      height: 60px;
      color: #D4AF37;
      border: none;
      border-radius: 3px;
      margin-top: 0px;
      top: 0;
      .fas {
        margin-top: 15px;
      }
    }
    a {
      text-decoration: none;
      width: 60px;
      height: 60px;
    }
    .button:hover {
      border: 2px #D4AF37 solid;
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: left;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }

  //Desktop Media Queries

@media (min-width: 1242px) and (max-width: 1799.98px) {
  .AboutSection {
    width: 100%;
    padding: none;
    border-left: none;
    margin-left: 250px;
  } 
  .AboutInner {
    width: 90%;
    margin-top: 75px;
    .button {
      display: none;
    }
    .Beginning {
      width: 100%;
      height: 500px;
      margin-top: 200px;
    .BTXT {
      width: 20%;
      height: 50%;
    }
   }
    .Middle {
      width: 100%;
      height: 700px;
      margin-top: 250px;
      .Profile {
        width: 200px;
        height: 300px;
        margin-top: 75px;       
      }     
    }
    .End {
      width: 100%;
      height: 500px;
      margin-top: 200px;
    .ETXT {
      width: 25%;
      height: 65%;
    }
    }
  }
  }
