// Menu Bar

.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: white;
    overflow-x: hidden; 
    padding-top: 10px;
  }

  .SideLetter {
    font-size: 100px;
    font-family: 'Poiret One';
    color: #0052cc;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-left: 105px;
  }

  .SideLetter a {
    text-decoration: none;
    color: #0052cc;
  }

  .SideLetter a:hover {
    color: #D4AF37;
  }

  .SideLine {
      width: 250px;
      height: 2px;
      background: radial-gradient(	#FFD700 25%, #D4AF37 75% )
  }
  
  .sidenav .NavAnchor {
    padding: 20px 5px 20px 10px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 30px;
    color: #0052cc;
    display: block;
    font-family: 'Poiret One';
    text-align: center;
    font-weight: 600;
    border: solid 1px white;
  }
  
  .sidenav .NavAnchor:hover {
    color: #D4AF37;
    font-weight: 700;
    border: solid 1px #D4AF37;
  }

  .socialmedia {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 30px;
      color: #0052cc;
      padding-top: 50px;
  }

  .socialmedia a:hover {
    border: none;
    color: #D4AF37;
  }

  @media (max-width: 479.98px) {
    .sidenav {
      display: none;
    }
  }
  
  @media (min-width: 480px) and (max-width: 767.98px) {
    .sidenav {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sidenav {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1241.98px) {
  .sidenav {
    display: none;
  }
}

    // Body

    body {
      margin: auto;
  }

  //Main Section 

  .MainSection {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 250px;
    max-width: 1730px;
    height: 950px; 
    justify-content: center;
    border-left: 1px solid #D4AF37;
  }

  .Inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1500px;
    height: 866px;
    margin-top: 35px;
    border-top: 2px solid #D4AF37;
    border-bottom: 2px solid #D4AF37;
    background-color: #0052cc;
    .button {
      display: none;
    }
    .Top {
      width: 750px;
      margin-left: -200px;
    h1 {
      font-family: 'Sacramento';
      color: #D4AF37;
      font-size: 65px;
      text-align: left;
      margin-left: 0px;
      margin-bottom: 0px;
      letter-spacing: 0.4px;
      line-height: 25px;
    }
     }
     .PicContainer {
       margin-top: 80px;
    .Picture {
      width: 340px;
      height: 260px;
      border-radius: 3px;
    }
  }
    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    h4 {
      font-family: 'Sacramento';
      color: #D4AF37;
      font-size: 50px;
      text-align: left;
    }
    .Treehouse {
      width: 50px;
      height: 50px;
      margin-left: 200px;
      margin-top: 50px;
      position: absolute;
    }
    p {
      font-family: 'Poiret One';
      font-weight: 600;
      color:  white;
      text-align: left;
      padding-left: 10px;
      font-size: 20px;
      letter-spacing: 0.4px;
      line-height: 25px;
      span {
        color: #5cd65c;
      }
      a {
        color: #5cd65c;
        &:hover {
          color: #66ff66;
        }
       }
  }
}



        // Smaller sized devices media queries

        @media (max-width: 479.98px) {
          .MainSection {
            width: 100%;
            padding: none;
            border-left: none;
            margin-left: 0px;
          }
          .Inner {
            max-width: 100%;
            height: 1800px;
            flex-direction: column;
            margin-top: 0;
            padding: 0;
            .button {
              display: flex;
              position: absolute;
              justify-content: center;
              width: 60px;
              height: 60px;
              color: #D4AF37;
              border: none;
              border-radius: 3px;
              margin-top: 0px;
              top: 0;
              .fas {
                margin-top: 15px;
              }
            }
            a {
              text-decoration: none;
              width: 60px;
              height: 60px;
            }
            .button:hover {
              border: 2px #D4AF37 solid;
            }
            .Top {
              width: 100%;
              margin-top: -100px;
              margin-left: 10px;
            }
            h1 {
              font-size: 40px;
              margin-left: 10px;
              margin-bottom: 0px;
              line-height: 35px;
            }
            .SCSP{
              text-align: left;
              margin-left: 0px;
              width: 90%;
            }
            .PicContainer {
              width: 80%;
              margin-top: 0px;
              margin-left: 25px;
              .Picture {
                width: 100%;
              }
            }
            .bottom1 {
              width: 90%;
              margin-left: 10px;
            }
            .bottom2 {
              width: 90%;
              margin-left: 10px;
            }
            h4 {
              margin-left: 10px;
              font-size: 35px;
            }
            .Treehouse {
              margin-left: 150px;
              margin-top: 35px;
            }
              p {
                font-size: 15px;
            }
          }
          .myMenu {
            height: 100%; 
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: white; 
            overflow-x: hidden;
            padding-top: 5px;
            transition: 0.5s;
            display: block;
            ul {
                list-style-type: none;
                text-align: left;
                .Smenu {
                    width: 333px;
                    height: 56px;
                    font-size: 25px;
                    margin-left: -40px;
                    padding-left: 20px;
                    padding-top: 20px;
                    border-bottom: 1px solid #D4AF37;
            }
          }
          .menuAnchor {
              text-decoration: none;
              font-family: 'Poiret One';
              color: #0052cc;
              font-weight: bold;
          }
    
          .menuAnchor:hover {
              color: #D4AF37;
          }
          
          .closebtn {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 30px;
            font-size: 50px;
            text-decoration: none;
          }
    
          .closebtn:hover {
              color: #D4AF37;
          }
          
          body {
            transition: margin-right .5s;
          }
         }
        }


  @media (min-width: 480px) and (max-width: 767.98px) {
    .MainSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0px;
    }
    .Inner {
      max-width: 100%;
      height: 1500px;
      flex-direction: column;
      margin-top: 0;
      padding: 0;
      .button {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #D4AF37;
        border: none;
        border-radius: 3px;
        margin-top: 0px;
        top: 0;
        .fas {
          margin-top: 15px;
        }
      }
      a {
        text-decoration: none;
        width: 60px;
        height: 60px;
      }
      .button:hover {
        border: 2px #D4AF37 solid;
      }
      .Top {
        width: 100%;
        margin-top: -100px;
        margin-left: 10px;
      }
      h1 {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 0px;
        line-height: 35px;
      }
      .SCSP{
        text-align: left;
        margin-left: 0px;
        width: 90%;
      }
      .PicContainer {
        margin-top: 0px;
        margin-left: 25px;
      }
      .bottom1 {
        margin-left: 10px;
      }
      .bottom2 {
        margin-left: 10px;
      }
      h4 {
        margin-left: 10px;
        font-size: 35px;
      }
      .Treehouse {
        margin-left: 150px;
        margin-top: 35px;
      }
        p {
          font-size: 15px;
      }
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: left;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    .MainSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0;
    }
    .Inner {
      max-width: 100%;
      height: 1500px;
      flex-direction: column;
      margin-top: 0;
      .button {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #D4AF37;
        border: none;
        border-radius: 3px;
        margin-top: 0px;
        top: 0;
        .fas {
          margin-top: 15px;
        }
      }
      a {
        text-decoration: none;
        width: 60px;
        height: 60px;
      }
      .button:hover {
        border: 2px #D4AF37 solid;
      }
      .Top {
        width: 100%;
        margin-top: -100px;
        margin-left: 25px;
      }
      h1 {
        font-size: 40px;
        margin-left: 10px;
        margin-bottom: 0px;
        line-height: 35px;
      }
      .SCSP{
        text-align: left;
        margin-left: 0px;
        width: 90%;
      }
      .PicContainer {
        margin-top: 0px;
        margin-left: 25px;
      }
      .bottom1 {
        margin-left: 25px;
      }
      .bottom2 {
        margin-left: 25px;
      }
      h4 {
        margin-left: 10px;
        font-size: 35px;
      }
      .Treehouse {
        margin-left: 150px;
        margin-top: 35px;
      }
        p {
          font-size: 15px;
      }
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: center;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }

  // Large-medium/Small-large devices

  @media (min-width: 992px) and (max-width: 1241.98px) {

    .MainSection {
      width: 100%;
      padding: none;
      border-left: none;
      margin-left: 0px;
    }
    .Inner {
      max-width: 100%;
      height: 1100px;
      flex-direction: row;
      margin-top: 25px;
      padding-bottom: 0px;
      overflow: hidden;
      .button {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: #D4AF37;
        border: none;
        border-radius: 3px;
        margin-top: 0px;
        left: 0;
        .fas {
          margin-top: 15px;
        }
      }
      a {
        text-decoration: none;
        width: 60px;
        height: 60px;
      }
      .button:hover {
        border: 2px #D4AF37 solid;
      }
      .Top {
        width:50%;
        margin-left: -80px;
        margin-top: 50px;
      }
      h1 {
        width: 100%;
        margin-left: 10px;
        
        line-height: 65px;
      }
      .SCSP{
        width: 100%;
      }
      .PicContainer {
      margin-top: 150px;
      }
      .bottom {
        width: 100%;
        margin-top: 0px;
      }
      .bottom1 {
        width: 40%;
        padding-right: 10px;
      }
      .bottom2 {
        width: 40%;
      }
      h4 {
        margin-left: 10px;
      }
      .Treehouse {
        margin-left: 200px;
        margin-top: 70px;
      }
      p {
        font-size: 18px;
      }
    }
    .myMenu {
      height: 100%; 
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white; 
      overflow-x: hidden;
      padding-top: 5px;
      transition: 0.5s;
      display: block;
      ul {
          list-style-type: none;
          text-align: center;
          .Smenu {
              width: 333px;
              height: 56px;
              font-size: 25px;
              margin-left: -40px;
              padding-left: 20px;
              padding-top: 20px;
              border-bottom: 1px solid #D4AF37;
      }
    }
    .menuAnchor {
        text-decoration: none;
        font-family: 'Poiret One';
        color: #0052cc;
        font-weight: bold;
    }

    .menuAnchor:hover {
        color: #D4AF37;
    }
    
    .closebtn {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 30px;
      font-size: 50px;
      text-decoration: none;
    }

    .closebtn:hover {
        color: #D4AF37;
    }
    
    body {
      transition: margin-right .5s;
    }
   }
  }

  //Desktop Media Queries

@media (min-width: 1242px) and (max-width: 1799.98px) {

  .MainSection {
    width: 100%;
    padding: none;
    border-left: none;
    margin-left: 250px;
  } 
  .Inner {
    width: 90%;
    height: 1000px;
    margin-top: 50px;
    .button {
      display: none;
    }
    .Top {
      width:50%;
      margin-left: -100px;
      margin-top: 0px;
    }
    h1 {
      width: 100%;
      margin-left: 10px;
      
      line-height: 65px;
    }
    .SCSP{
      width: 100%;
    }
    .PicContainer {
    margin-top: 100px;
    }
    .bottom {
      width: 100%;
      margin-top: 0px;
    }
    .bottom1 {
      width: 40%;
      padding-right: 10px;
    }
    .bottom2 {
      width: 40%;
    }
    h4 {
      margin-left: 10px;
    }
    .Treehouse {
      margin-left: 200px;
      margin-top: 70px;
    }
    p {
      font-size: 18px;
    }
}
}